@page "/"
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@inject ILogger<Home> Logger
@inject IWebHostEnvironment Environment
@inject UserService userService
@rendermode InteractiveServer
@inject MyDbContext context

<PageTitle>File Upload 1</PageTitle>


@if(myUsers != null)
{
  <h3>Loaded Users!</h3>
  @foreach(var user in myUsers)
  {
    <div>@user.Name</div>
  }
}


@code {
    @* private List<IBrowserFile> loadedFiles = new(); *@
    private bool isLoading;
    private IEnumerable<MyUser>? myUsers = null;

    private string userName { get; set; } = "";
    protected override void OnInitialized()
    {
        myUsers = context.Users.ToList();
        Console.WriteLine("read users!");
        StateHasChanged();
        
    }
}